stages:
  - deploy

# -----------------------------------------------------------
# JOB: Deploy Dokumentasi ke GitHub Pages
# -----------------------------------------------------------
deploy_to_github:
  stage: deploy
  tags:
    - deploy-student-docker
  image: alpine/git:latest
  variables:
    GITHUB_USER: "azelvon" 
    GITHUB_REPO: "SIATA_Documentation" 
    GITHUB_PAGES_BRANCH: "main" 
    DOCS_DIR: "dokumentasi" 

  before_script:
    - git config user.name "GitLab CI Runner"
    - git config user.email "ci-runner@gitlab.com"
    - export REMOTE_URL="https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com/${GITHUB_USER}/${GITHUB_REPO}.git"

  script:
    - echo "--- Mulai Deployment Dokumentasi ke GitHub ---" 
    - git clone --branch ${GITHUB_PAGES_BRANCH} $REMOTE_URL temp_repo
    - cd temp_repo
    - git rm -rf .
    - cp -r ../${DOCS_DIR}/. .
    - git add .
    - git commit -m "Update documentation from GitLab CI"
    - git push $REMOTE_URL ${GITHUB_PAGES_BRANCH} --force
    - echo "--- Deployment Selesai. Cek GitHub Pages kamu ---"
  
  dependencies: []